numpy
torch
jsonlines
datasets 
transformers 
transformers[torch]
evaluate
spacy
tqdm
python-dotenv
nltk
pandas
absl-py
rouge-score
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

google-generativeai 
openai
ollama

unsloth

langchain 
langchain_core 
langchain_community 
langchain-openai
langchain-google-genai
langchain-ollama
langchain-huggingface 



