torch #==2.5.0
# torchvision #==0.20.0
# torchaudio #==2.5.0
# --extra-index-url https://download.pytorch.org/whl/cu121

unsloth

numpy
jsonlines
datasets 
transformers 
# transformers[torch]
evaluate
spacy
tqdm
python-dotenv
nltk
pandas
absl-py
rouge-score
# pip install torch==2.5.0 torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

google-generativeai 
openai
ollama


# pip install "unsloth[cu124-torch250] @ git+https://github.com/unslothai/unsloth.git"
# protobuf==3.20.3

langchain 
langchain_core 
langchain_community 
langchain-openai
langchain-google-genai
langchain-ollama
langchain-huggingface 

# "unsloth[cu121-torch250] @ git+https://github.com/unslothai/unsloth.git"



